<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>Pedidos de Blocos</title>
    <link rel="stylesheet" th:href="@{/css/styleProcessoBancada.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
    
</head>

<body>

 <!-- CABEÇALHO -->
 <header>
    <div class="left-header">
        <img src="fotosenai (1).png" alt="Logo Cubo">
        <h1>Sistema de Gestão da Bancada</h1>
    </div>
    <div class="right-header">
        <img src="senailogo.png" alt="Logo SENAI">
    </div>
</header>

    <div class="bancada-container">
        <div class="bancada-item">
                <img th:src="@{/image/Bancada_parte_1.png}" alt="Estoque">
        </div>
        <div class="bancada-item">
                <img th:src="@{/image/Bancada_parte_2.png}" alt="Processo">
        </div>

        <div class="bancada-item">
                <img th:src="@{/image/Bancada_parte_3.png}" alt="Montagem">
        </div>

        <div class="bancada-item">
                <img th:src="@{/image/Bancada_parte_4.png}" alt="Expedição">
        </div>
    </div>

     <div class="barras-container">

        <div class="progress-shopee">

            <h3 class="progress-title">Montagem do Bloco</h3>
        
            <div id="stepper" class="progress-stepper">
                <!-- Etapas serão inseridas dinamicamente aqui -->
            </div>
        
            <h4 class="progress-subtitle">Etapas Internas</h4>
            <div id="etapa-texto" class="etapa-texto">Iniciando...</div>
        
        </div>
                  <!-- BOTÃO VOLTAR - FLUTUANTE ACIMA DO ESTOQUE -->
    <button class="btn-voltar-flutuante" onclick="window.location.href='/'">
        <span class="material-symbols-rounded">arrow_back</span> Voltar
    </button>
    <script th:src="@{/js/processo_bancada.js}"></script>

</body>

</html>